# CMake build
/build/
/build-release/
/CMakeFiles/
/CMakeCache.txt
/Makefile

# launch.sh per-client sandboxes
/.launch/
/*.o
/*.a
/*.so
/*.exe
/assets/*

# IDE files (optional)
*.vscode/
*.idea/

*.blend
*.bmp
*.tbm

*.blend1